* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

.left {
  width: 40%;
  height: 100%;
  margin: 1rem;
  display: flex;
  align-items: center;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 60%;
  height: 100%;
  margin: 1rem;
}

.questions-container {
  box-shadow: 5px 10px 50px gray;
  border-radius: 1.85rem;
  width: 85%;
  /* height: auto; */
}

.navButton {
  background-image: linear-gradient(to top left, #720361, #bf2f75);
  border: none;
  padding: 0.625rem;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 3rem;
  font-size: 1.125rem;
  gap: 0.875rem;
  color: white;
  cursor: pointer;
}

.navButton span {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  justify-content: center;
  background-color: white;
  color: #ff8a00;
}

.navButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

@media screen and (max-width: 480px) {
  .questions-container {
    width: 95vw;
    height: auto;
  }
  .navButtonContainer {
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
  }

  .navButtonContainer .navButton {
    width: 100%;
    height: 3rem;
    margin: 0.2rem 0;
    padding: 0.625rem;
  }
}
