.header {
  height: 15rem;
  background-size: 100% 130%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #720361;
  position: relative;
  background-blend-mode: overlay;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.header h2 {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: white;
  font-weight: 900;
}
.container {
  padding: 5rem;
}
.hero {
  display: flex;
  gap: 1.5rem;
}
.hero img {
  height: 30.1875rem;
  border-radius: 20px;
}
.hero-text-about-us {
  margin-top: 0rem;
  color: #ff8a00;
  font-weight: 700;
}
.hero-text-about-us + h3 {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 3.125rem;
  margin: 15px 0;
}
.hero-text-content {
  font-size: 1rem;
  color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}
.hero-text-content-founder-name {
  font-weight: 600;
  font-size: 1.25rem;
}
.hero-text-content-founder-position {
  color: gray;
  /* margin-top: .5rem; */
}
.bottom-container {
  margin-top: 5rem;
  background-color: white;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(178, 178, 178, 0.435);
  border-radius: 1rem;
}
.bottom-container h3 {
  font-size: 2rem;
}
.bottom-container h3 + p {
  color: rgb(107, 105, 105);
  font-size: 1rem;
}

.bottom-container > p {
  text-align: center;
  margin: 1.5rem 0;
}
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cards-container > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.cards-container > div div p {
  text-align: start;
}
.cards-container > div div p:first-child {
  margin-top: -0.2rem;
  font-weight: 600;
}
.cards-container > div div p:last-child {
  margin-top: -1rem;
}
.founder-details-large-device {
  display: block;
}
.founder-details-small-device {
  display: none;
}
.card img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 480px) {
  .hero {
    flex-direction: column;
    margin-top: 1.5rem;
    /* gap: 1.5rem; */
  }
  .hero img {
    max-height: 80vh;
    width: auto;
    height: auto;
  }
  .container {
    padding: 1rem;
  }
  .header h2 {
    font-size: 2.1875rem;
  }
  .founder-details-large-device {
    display: none;
  }
  .founder-details-small-device {
    display: block;
  }
  .hero-text-content-founder-name {
    text-align: center;
  }
  .hero-text-content-founder-position {
    text-align: center;
  }
  .hero-text-about-us {
    text-align: center;
  }
  .hero-text-about-us + h3 {
    font-size: 2rem;
    text-align: center;
    margin: 15px 0;
  }
  .hero-text-content {
    text-align: center;
  }
  .bottom-container {
    margin-top: 2.3rem;
    padding: 2rem 0.9375rem;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: fit-content;
    height: auto;
  }
  .cards-container {
    margin: auto;
    text-align: center;
  }
  .cards-container > div {
    width: 100%;
  }
  .cards-container > div > div {
    width: 100%;
  }
  .dialogContent {
    flex-direction: column;
    align-items: center;
  }
  .dialogContent div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
