.container {
  display: flex;
  margin: 10rem 5rem 0;
  gap: 2rem;
}
.left {
  height: 12rem;
  width: 15rem;
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.left p:last-child {
  background-color: rgb(230, 226, 226);
  padding: 0.5rem;
  border-radius: 1rem;
}
.right {
  width: 100%;
}
.aboutResults,
.howYouScored,
.graphResult,
.bestMatch {
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
.aboutResults {
  margin: 0;
}
.aboutResults h6,
.howYouScored h6,
.graphResult h6,
.bestMatch h6 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.accordion-header h6 {
  margin-top: 0.5rem;
}
.aboutResults h6 + p {
  margin-bottom: 0.5rem;
}
.aboutResults p,
.howYouScored p,
.graphResult p,
.bestMatch p {
  color: rgb(120, 120, 120);
}
.howYouScored,
.graphResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graphResult ul {
  width: 50%;
}

.accordion {
  list-style: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(169, 168, 168);
}
.graphResult {
  display: flex;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.circle {
  height: 1.2rem;
  width: 1.2rem;
  background-color: red;
  border-radius: 50%;
}
.accordion-header .realisticPercent {
  background-color: red;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}
.accordion-button {
  background-color: transparent;
  border: 2px solid #bf2f75;
  text-align: center;
  line-height: 0.4rem;
  padding: 0.2rem;
  border-radius: 50%;
  color: #bf2f75;
  cursor: pointer;
}
.navButton {
  background-image: linear-gradient(to top left, #720361, #bf2f75);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 1.125rem;
  gap: 0.875rem;
  color: white;
  cursor: pointer;
}
.graph {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestMatch > p {
  font-size: 1.1rem;
}
.bestMatchCardsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}
.bestMatchCard {
  list-style: none;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.5px 0.5px 10px gray;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
}
.bestMatchCard:active {
  border: 2px solid #720361;
}

.bestMatchCard .title {
  color: black;
  font-size: 1.1rem;
}
.bestMatchCard .description {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
/* dummy */
.bestMatch .logo {
  background-color: #bf2f75;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  /* margin-top: 10px; */
}
.rating .star {
  color: gold;
  margin-top: 0.2rem;
}
.userAndRating {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.modalMessageContainer {
  margin: 20px 0;
  padding: 10px;
}

.modalMessage {
  background-color: #d3f9d8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.materialGraph {
  width: 100%;
}

.materialGraph {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 0 0;
    gap: 2rem;
    margin-top: 7rem;
  }
  .left {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: auto;
  }

  .left img {
    width: 100px;
  }
  .left p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
  }

  .modalMessageContainer {
    margin: 10px 0;
    padding: 10px;
  }

  .aboutResults,
  .howYouScored,
  .graphResult,
  .bestMatch {
    padding: 1rem;
    margin: 0;
    /* border: 1px solid black; */
    width: 95%;

    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .aboutResults h6,
  .howYouScored h6,
  .graphResult h6,
  .bestMatch h6 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .aboutResults p,
  .howYouScored p,
  .graphResult p,
  .bestMatch p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .howYouScored {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .graphResult {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .graph {
    width: 100%;
  }

  .graphResult ul {
    width: 100%;
    padding-left: 0;
  }

  /* Accordion fixes */
  .accordion {
    list-style: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(169, 168, 168);
    width: 100%;
    margin-left: 0;
  }

  .accordion-header h6 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  .accordion-header div {
    gap: 0.5rem;
  }

  .accordion-content p {
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 0 10px;
  }

  .bestMatchCardsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
