.navButton {
  background-image: linear-gradient(to top left, #720361, #bf2f75);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 1.125rem;
  gap: 0.875rem;
  color: white;
  cursor: pointer;
}
