@media screen and (max-width: 480px) {
  .left {
    display: none;
  }

  .keepMeLoginSection {
    flex-direction: column;
  }
  .keepMeLoginText {
    width: 100%;
    text-align: start;
  }
  .formPadding {
    padding: 1rem;
  }
  .logo {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
  }
  .container {
    margin: 0 0rem;
  }
  .nameSignup {
    flex-direction: column;
  }
}
